.AdminDashboard {
  min-height: 90dvh;
  width: 80%;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  font-family: "Shrikhand", serif;
  font-weight: 10;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 21px;
}

.AdminDashboard__add-order {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: "pointer";
  margin: 15px;
  background-color: black;
}

.AdminDashboard__add-order img {
  width: clamp(200px, 11vw, 300px);

  filter: invert(74%) sepia(94%) saturate(4323%) hue-rotate(84deg)
    brightness(118%) contrast(119%); /* verde */

  margin-bottom: 25px;

  &:hover {
    cursor: "pointer";
    scale: 1.1;
  }
}

.AdminDashboard__orders {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.order {
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 11px;

  background-color: black;
}

.order__header-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 0px 0px 15px;
  user-select: none;
}

.order__arrow {
  cursor: pointer;
  font-size: 21px;
  color: black;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
  margin-left: 5px;
  &:hover {
    transform: scale(1.2);
    color: rgb(30, 255, 0);
  }
}

.order__arrow--open {
  transform: rotate(180deg);
  color: black;

  &:hover {
    transform: scale(1.2);
    color: rgb(30, 255, 0);
    transform: rotate(180deg);
  }
}

.order h3 {
  margin: 0px 0px 27px;
  justify-self: center;

  background-color: white;
  color: black;

  padding: 7px;
  border-radius: 30px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 27px;

  gap: 10px;

  width: 70%;
}

.order__code {
  color: black;
  -webkit-text-stroke: 0.001px black;
}

.order__copy-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 22px; /* Tamaño del emoji o icono */
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.2);
    filter: invert(74%) sepia(94%) saturate(4323%) hue-rotate(84deg)
      brightness(118%) contrast(119%); /* verde */
  }
}

.order__copy-btn:active {
  transform: scale(0.9);
}

.order__form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
  gap: 10px;
  margin-bottom: 15px;
}

.order__form-animation {
  animation: up_down 0.5s ease-out forwards;
}

.form-group__admin {
  display: flex;
  flex-direction: column;
  gap: 6px;

  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.form-group__admin label {
  font-size: 21px;
}

.form-group__admin input {
  height: 35px;
  padding: 0 12px;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 15px;
  box-sizing: border-box;
  background-color: #fff;
}

.order__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 30px;
}

.order__buttons label {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;

  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 21px;
}

.order__buttons input {
  height: 100%;
}

.order__buttons button {
  background-color: white;
  color: black;
  border-radius: 20px;
  cursor: pointer;
  height: 35px;
  width: clamp(100px, 30vw, 200px);

  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;

  &:hover {
    background-color: red;
    color: black;
    scale: 1.05;
  }
}

.form-group__admin input:focus-visible,
.form-group__admin select:focus-visible {
  outline: 3px solid rgb(30, 255, 0); /* Grosor, estilo (sólido) y tu color verde */
  outline-offset: 0px; /* Asegura que la línea quede pegada al borde del input */
}

@keyframes up_down {
  0% {
    opacity: 1;
    transform: translateY(-70px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
