.code {
  min-height: 90dvh;
  width: 95%;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}
.code__logo {
  width: clamp(200px, 50vw, 300px);
  filter: invert(74%) sepia(94%) saturate(4323%) hue-rotate(84deg)
    brightness(118%) contrast(119%); /* verde */
  animation: aparecer 3s;
}

.code__title {
  border: 200px;
  margin: 20px 0px 5px;
  font-size: clamp(21px, 5vw, 30px);
  animation: aparecer 3s;
}

.code__input {
  width: clamp(275px, 50vw, 500px);
  height: 70px;

  padding: 0 5px;
  font-size: clamp(12px, 4vw, 18px);

  box-sizing: border-box;

  text-transform: uppercase;
  text-align: center;

  border-radius: 30px;
  margin-bottom: 15px;

  border: 7px solid black;
  animation: aparecer 3s;
}

.code__button {
  width: 20%;
  height: 70px;

  background-color: rgb(30, 255, 0);
  font-size: clamp(12px, 4vw, 18px);

  border-radius: 30px;

  box-sizing: border-box;

  text-transform: uppercase;
  text-align: center;

  background-color: rgb(30, 255, 0);

  font-weight: bold;

  border: none;
  cursor: pointer;

  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;

  animation: aparecer 3s;
}

.code__button:disabled {
  background-color: white; /* Gris opaco */
  color: gray;
  cursor: not-allowed; /* Cambia el cursor a un símbolo de prohibido */
  transform: none; /* Evita animaciones de hover mientras esté bloqueado */
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

.code input:focus-visible,
.code select:focus-visible {
  outline: 3px solid rgb(30, 255, 0); /* Grosor, estilo (sólido) y tu color verde */
  outline-offset: 0px; /* Asegura que la línea quede pegada al borde del input */
}

.spinner {
  width: 20px;
  height: 20px;
  /* Color del círculo de fondo (semitransparente) */
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  /* Color de la línea que gira (blanco sólido) */
  border-top-color: #ffffff;
  animation: spin 1s ease-in-out infinite;

  /* Centrar el spinner dentro del botón */
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
